<ion-view>
    <ion-nav-bar class="ion-nav-bar bar-balanced">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-title align="center">Lembretes</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button" href="#/app/despesa">
            <i class="icon ion-checkmark"></i>
        </button>
    </ion-nav-buttons>

    <ion-content>
        <ul class="list">
            <li class="item item-icon-left">
                <i class="icon ion-card"> 
                        <select id="soflow">
                            <option>Select an Option</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                        </select>

                </i>
            </li>

            <li class="item item-icon-left ">
                <div class="row">
                    <div class="col col-65">
                        <i class="icon">
                    <img src="assets/money.png" width="30" height="30"/>
                       <select id="soflow">
                            <option>Select an Option</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                        </select>
                </i>


                    </div>
                    <div class="item item-icon-right ">
                        <i class="icon ion-plus-circled"></i>
                    </div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col col-20 item item-icon-left">
                        <i class="icon ion-ios-bell"></i>
                        <button class="button button-clear button-stable">Lembrar Por Data</button>
                    </div>
                    <div class="col col-10 item item-icon-left">
                        <i class="icon ion-plus-circled"></i>
                        <!--<button class="button button-clear button-stable">Lembrar Por Km</button>-->
                    </div>
                </div>
            </li>
        </ul>

    </ion-content>
</ion-view>
</ion-nav-view>