<ion-view>
    <ion-nav-bar class="ion-nav-bar bar-assertive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-title align="center">Abastecimento</ion-nav-title>
    <ion-content>
        <ul class="list">
            <br>
            <li class="item">
                <li class="item item-icon-left">
                    <i class="icon ion-calendar"></i>
                    <div class="placeholders">
                        27/04/2017
                    </div>
                </li>

                <li class="item item-icon-left">
                    <i class="icon ion-speedometer"></i>
                    <div class="placeholders">
                        70950km
                    </div>
                </li>

                <li class="item">
                    <div class="row">
                        <div class="col col-10">
                            <i class="icon icon-jaci">         
                           <img src="assets/fuel.png" width="25" height="25"/>      
                        </i>
                        </div>
                        <div class="col col-70">
                            Gasolina Aditivada
                        </div>
                    </div>
                </li>

                <li class="item">
                    <div class="row">
                        <div class="col col-10 icon-jaci pad-top">
                            <i class="icon">
                         <img src="assets/full_fuel.png" width="25" height="25"/>  
                        </i>
                        </div>
                        <div class="col col-90">
                            Tanque Completo: Sim
                        </div>
                    </div>
                </li>

                <li class="item">
                    <div class="row">
                        <div class="col col-10">
                            <i class="icon ion-stats-bars icon-jaci"></i>
                        </div>
                        <div class="col col-90">
                            Média 13km/l
                        </div>
                    </div>
                </li>

                <li class="item">
                    <div class="row">
                        <div class="col col-10 icon-jaci">
                            <i class="icon ion-social-usd-outline"></i>
                        </div>
                        <div class="col col-20">
                            R$3,79
                        </div>
                        <div class="col col-30 placeholders">
                            R$37,90
                        </div>
                        <div class="col col-25">
                            10 Litros
                        </div>
                    </div>
                </li>

                <li class="item item-icon-left campo-obs ">
                    <br>
                    <i class="icon ion-ios-compose-outline icon-align"></i>
                    <div class="placeholders">
                        O pagamento do combustível foi realizado<br> através da empresa, com um vale de 15 reais,<br> aonde
                        o mesmo sobrou para duas paçocas.
                    </div>
                </li>
            </li>
        </ul>
    </ion-content>
</ion-view>