<ion-view>
    <ion-nav-bar class="ion-nav-bar bar-calm">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-title align="center">Despesas</ion-nav-title>
    <ion-content>

        <ul class="list">
            <li class="item item-icon-left">
                <i class="icon ion-calendar"></i>
                <div class="placeholders">
                    25/09/2016
                </div>
            </li>

            <li class="item item-icon-left">
                <i class="icon ion-speedometer"></i>
                <div class="placeholders">
                    75890km
                </div>
            </li>

            <li class="item">
                <div class="row">
                    <div class="col col-10">
                        <i class="icon ion-cash icon-jaci"> </i>
                    </div>
                    <div class=" col col-60">
                           Impostos (IPVA/DPVAT)
                    </div>
                    <div class="col col-20">
                        R$530,00
                    </div>
                </div>
            </li>

            <li class="item">
                <div class="row">
                    <div class="col col-10">
                        <i class="icon ion-location icon-jaci"></i>
                    </div>
                    <div class="col col-80">
                        Despachante
                    </div>
                </div>
            </li>

            <li class="item item-icon-left campo-obs">
                <br>
                <i class="icon ion-ios-compose-outline icon-align"></i>
                <div class="placeholders">
                    Transferência de Documentos<br> 
                    e Pagamento de IPVA realizados <br>
                    no Despachante União - Slo. 
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>