<ion-view>
    <ion-nav-bar class="ion-nav-bar bar-calm">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-title align="center">Serviços</ion-nav-title>

    <ion-content>
        
          <ul class="list">
            <li class="item item-icon-left">
                <i class="icon ion-calendar"></i>
                <div class="placeholders">
                    26/03/2017
                </div>
            </li>

            <li class="item item-icon-left">
                <i class="icon ion-speedometer"></i>
                <div class="placeholders">
                    76057km
                </div>   
            </li>

            <li class="item">
                <div class="row">
                    <div class="col col-10">
                        <i class="icon ion-cash icon-jaci"> </i>
                    </div>
                    <div class=" col col-60">
                        Troca de Pneus
                    </div>
                    <div class="col col-20">
                            R$460,00
                    </div>
                </div>
            </li>

            <li class="item">
                <div class="row">
                    <div class="col col-10">
                        <i class="icon ion-location icon-jaci"></i>
                    </div>
                    <div class="col col-80">
                        Borracharia
                    </div>
                </div>
            </li>

            <li class="item item-icon-left campo-obs ">    
                <br>
                <i class="icon ion-ios-compose-outline icon-align"></i>
                <div class="placeholders"> 
                    Troca de Pneus Realizada depois da <br>
                    abordagem e aprensão da CNH pela <br>
                    polícia rodoviária.
                </div>
            </li>
        </ul>


    </ion-content>
</ion-view>